section.main-grid {
    /*make this good for changing screen sizes*/
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: minmax(50px, 500px) minmax(50px, 500px);
    grid-template-areas:
    'canvas tools';
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 40px;
    margin: 60px;
    border: 4px solid orange;
    grid-template-rows: 500px;
    max-width: 1048px;
    max-height: 42.5vw;
    left: 45%;
    position: relative;
    translate: -50% 0%;
}

div.canvas-container{
    grid-area: canvas;
    position: relative;
    /* height: minmax(43.1vw, 100vh); */
}

form{
    grid-area: tools;
    place-self: center;
}

.canvas {
    position: absolute;
    /* background-color: rgb(199, 106, 106); */
    border: 2px solid green;
    /* height: 100%; */
    width: 100%;
    max-width: 500px;
    max-width: 500px;
}
