
div.modal{
    position: absolute;
    z-index: 1;
    
}

section.images{
    margin: 0;
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat( auto-fit, minmax(200px, 400px)); */
    grid-template-columns: repeat( auto-fit, minmax(100px, 200px));
    gap: 10px;
    width: 98vw;
    height: 90%;
    background-color: white;
    /* grid-auto-flow: row; */
}
img{
    width: 100%;
}
.hidden{
    display: none;
    opacity: 0;
}